<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="plugin.launcher.MuJavaLauncher"
            id="MuJava++.launchType"
            modes="run"
            name="MuJava++"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="plugin.ui.tabs.MuJavaConfigTabGroup"
            id="MuJava++.launchConfigurationTabGroup"
            type="MuJava++.launchType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="MuJava++.launchType"
            icon="icons/mj++_7.png"
            id="MuJava++.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="plugin.launcher.MuJavaShortcut"
            icon="icons/mj++_7.png"
            id="MuJava++.launchShortcut"
            label="MuJava++ input"
            modes="run">
         <configurationType
               id="MuJava++.launchType">
         </configurationType>
         <contextualLaunch>
            <enablement>
               <or>
                  <with
                        variable="selection">
                     <and>
                        <count
                              value="1">
                        </count>
                        <iterate
                              ifEmpty="false"
                              operator="and">
                           <adapt
                                 type="org.eclipse.jdt.core.IJavaElement">
                           </adapt>
                           <test
                                 property="org.eclipse.debug.ui.matchesPattern"
                                 value="*.java">
                           </test>
                        </iterate>
                     </and>
                  </with>
               </or>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchGroups">
      <launchGroup
            bannerImage="icons/mj++_7.png"
            id="MuJava++.launchGroup"
            image="icons/mj++_7.png"
            label="MuJava Run"
            mode="run"
            public="true">
      </launchGroup>
   </extension>

</plugin>
